extends layout

block content
  .container
    h1 Demo: #{__('Public / Private Keys')} &amp; #{__('Signing')} 
    p Open Source: 
      a(href='https://github.com/reyerchu/public-private-key-demo/') https://github.com/reyerchu/public-private-key-demo/
    p Forked by 
      a(href='https://reyerchu.com/') Reyer Chu  
      | from 
      a(href='https://github.com/anders94/public-private-key-demo') https://github.com/anders94/public-private-key-demo 
    br
    p by 
      a(href='http://andersbrownworth.com/') Anders Brownworth 
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
